@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('components/header.css');
@import url('components/homepage.css');
@import url('components/footer.css');
@import url('components/product_view.css');
@import url('components/role_selection.css');
@import url('components/register_Seller.css');
@import url('components/registerBuyer.css');
@import url('components/register_Seller.css');
@import url('components/register_Agricultural_Expert.css');
@import url('components/register_Vehicle_Renter.css');
@import url('components/login.css');
@import url('components/logged_nav.css');
@import url('components/home_nav.css');
@import url('components/seller_home_style.css');
@import url('components/create_post_style.css');
@import url('components/createdpost.css');
@import url('components/myplan.css');
@import url('components/cart.css');
@import url('components/forgotPassword.css');
@import url('components/resetPassword.css');
@import url('components/verifyEmail.css');
@import url('components/sidebar.css');
@import url('components/dashboardOrders.css');
@import url('components/product_details_page.css');
@import url('components/Inf_default.css');
@import url('components/profile.css');
@import url('components/ordersPages.css');

@import url('components/buyNow.css');
@import url('components/inventory.css');
@import url('components/sellersidebar.css');
@import url('components/sellerhome_nav.css');
@import url('components/plan.css');

@import url('components/v_vehicle_create_post.css');
@import url('components/v_vehicle_createdpost.css');
@import url('components/v_renterhome.css');

@import url('components/payment.css');
@import url('components/register_plan.css');
@import url('components/completed_order.css');
@import url('components/a.css');
@import url('components/load.css');
@import url('components/v_vechiledetails.css');


@import url('components/v_vechile_register_plan.css');
/* @import url('components/re_sidebar.css'); */

/* @import url('components/fullcalendar.min.css'); */
/* @import url('components/re_sidebar.css'); */
@import url('components/blog.css');
@import url('components/agriInstructorSidebar.css');
@import url('components/admin.css');
@import url('components/inventory.css');


/* Seller styles */
/* @import url('components/seller_home_style.css');
@import url('components/create_post_style.css');
@import url('components/createdpost.css');
@import url('components/myplan.css'); */


/* vehicle renter */
@import url('components/calendar.css');
@import url('components/v_vehicle_post_details.css');


:root{
    --dark-green: #6a9739;
    --light-green: #8bc34a;
    --bg-green: #F8F6F3;
    --dark-grey: #111111;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    color: var(--dark-grey);
    background-color: var(--bg-green);
    width: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

hr{
    margin: 3px;
    color: var(--light-green);
}

/* for the navbar */
 
#sub-menu {
    display: none; /* Hide the submenu by default */
   position: fixed;
    top: 100%; /* Position it below the greeting element */
    right: 0; /* Align to the right */
    background-color: #fff; /* Background color */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    padding: 10px;
}

#sub-menu.open-menu {
    display: block; /* Show the submenu when 'open-menu' class is applied */
  }
  
  /* Styles for the submenu links */
  .user-menu {
    /* Your styles for the user menu */
  }
  
  .user-info {
    /* Your styles for user information */
  }

  .sub-link-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
  }
  
  .sub-link-menu:hover {
    background-color: #f0f0f0;
  }

  .review-card{
    margin: 50px;
  }

  
#deliveryFeeInfo {
    cursor: pointer;
    color: lightslategray; 
    margin-left: 5px; 
}

#deliveryFeeCalculation {
    border: 1px solid #ccc; 
    padding: 5px; 
}
