@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('components/header.css');
@import url('components/homepage.css');
@import url('components/footer.css');
@import url('components/product_view.css');
@import url('components/role_selection.css');
@import url('components/register_Seller.css');
@import url('components/registerBuyer.css');
@import url('components/register_Agricultural_Expert.css');
@import url('components/register_Vehicle_Renter.css');
@import url('components/login.css');
@import url('components/logged_nav.css');
@import url('components/cart.css');


:root{
    --dark-green: #6a9739;
    --light-green: #8bc34a;
    --bg-green: #F8F6F3;
    --dark-grey: #111111;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    color: var(--dark-grey);
    background-color: var(--bg-green);
    width: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

hr{
    margin: 3px;
    color: var(--light-green);
}

