.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-container .admin-table{
    padding: 5px 20px !important;
}

.body-container th{
    font-weight: bold;
}

.body-container tr{
    cursor: default;
}

.body-container table{
    margin-top: 20px;
}

.body-containertd img{
    border-radius: 0%;
}

.body-container h2{
    font-size:x-large;
    font-weight: bold;
}