.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-container .admin-table{
    padding: 5px 20px !important;
}

main th{
    font-weight: bold;
}

main tr{
    cursor: default;
}

main table{
    margin-top: 20px;
}

main td img{
    border-radius: 0%;
}

main h2{
    font-size:x-large;
    font-weight: bold;
}