




.cal {
    margin-top: 50px;
    text-align: center;
    font-size: 12px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

#calendar {
    width: 100%;
    margin: 0 auto;
}

.response {
    height: 2%;
}

.success {
    background: #cdf3cd;
    padding: 10px 60px;
    border: #c3e6c3 1px solid;
    display: inline-block;
}


/* .wrapperCalendar {
    width :50%;
    background-color: #e5ff9f4a;;
    margin: 25px auto 0 auto;
    border:5px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0,  .2);
    color: #333;
    border-radius: 10px;
    padding: 30px 40px;
}
 */

/*  */

.wrapperCalendar {
  width: 50%;
  max-width: 500px;
  min-width: 400px;
  background-color: #eeffcb8f;
  margin: 25px auto 0 auto;
  border: 5px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #333;
  border-radius: 10px;
  padding: 30px 40px;
}


td.clicked-date {
    background-color: red; /* Change this to your desired color */
    color: white; /* Change this to the text color you prefer */
}
