/* *{
/* *{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
} */
.shero1{
    /* width: 100%; */
    min-height: 100vh;
    margin-left: 400px;
    margin-top: 15px;
   
}

.shero1 .sdropdown1{
    width: 500px;
    margin-top: 15px;
}
.shero1 .sitem{
    margin-top: 15px;
    width: 500px;
}
.shero1 .sstock_size{
    margin-top: 15px;
    width: 300px;
    display: flex;

}
.shero1 .stocksize #Stock{
    width:300px;
    height: 40px;
    border-radius: 5px;
    color: rgb(2, 3, 2);
    /* display: flex; */
}
.shero1 .sstock_size .sdropdown2{
    margin-left: 150px;
    width: 500px;
}

.shero1 .dropdown3{
    /* margin-left: 150px; */
    width: 300px;
}
.shero1 .image{
    /* margin-left: 150px; */
    width: 300px;
}
.shero1 .sDescription{
    /* margin-left: 150px; */
    width: 300px;
}

.shero1 .sdate{
    /* margin-left: 150px; */
    width: 300px;
}


.shero1 #sdes{
    width:1000px;
    height: 120px;
    border-radius: 5px;
    /* display: flex; */
    color: rgb(5, 5, 5);

}
.shero1 #stype{
    width:300px;
    height: 40px;
    border-radius: 5px;
    color: rgb(2, 3, 2);
    /* margin-left: 200px; */
    position: relative;
}

.shero1 #size{
    width:300px;
    height: 40px;
    border-radius: 5px;
    /* display: flex; */
    color: rgb(5, 5, 5);

}
.shero1 #sCategory{
    width:300px;
    height: 40px;
    border-radius: 5px;
    color: rgb(2, 3, 2);
    /* margin-left: 200px; */
    position: relative;
}
.shero1 #sitem_name{
    
    width:300px;
    height: 40px;
    border-radius: 5px;
    color: rgb(7, 7, 7);
    /* margin-left: 5px; */
}

.shero1 .sprice{
    margin-top: 15px;
    width: 300px;
}
.shero1 #sprice{
    width:300px;
    height: 40px;
    border-radius: 5px;
    
    color: rgb(5, 5, 5);

}
.shero1 .s1{
width: 300px;
}



.ddd{
    /* background-color: rgb(43, 226, 89);
    width: 250px; */
      width: 80%;
    margin: auto;

    border: 5px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #333;
    border-radius: 10px;
    background-color: #cbffce8f;

 background-image: linear-gradient(to right, #cbffce8f, #f1f4f18f);
}



.shero1 #se_date{
    
    width:300px;
    height: 40px;
    border-radius: 5px;
    color: rgb(8, 9, 8);
}
.shero1 .saddress{
    margin-top: 15px;
    width: 300px;
}
.shero1 #sAddress{
    
    width:400px;
    height: 40px;
    border-radius: 5px;
    color: rgb(52, 199, 52);
}



.shero1.sDescription{
    margin-left: 15px;
    
}
/* #sdes{
    width:60%;
    height:100px;
    border-radius: 5px;
} */


.shero1 #inside_image{
    /* margin-top: 15px; */
    border: 1px dashed #999;
    border-radius: 6px;
    height: 200px;
    width: 300px;
    
}
.shero1 #create{
    
   
     margin-left: 10%;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: rgba(255, 10, 10, 0.85);
    font-size: larger;
    cursor: pointer;
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    
  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
    transition: all 0.3s ease; /* Smooth transition for all properties */

    /* Gradient background */
    background-image: linear-gradient(to right, #bdec87, #9dff2c);
    
}

#create:hover {
    transform: translateY(-3px); /* Move button slightly up */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Change box shadow on hover */
}


.shero1 input:hover {
    border-color: #7bffac; /* Change border color on hover */
    box-shadow: 0 0 10px #66ff85; /* Add box shadow on hover */
}

.Wrapper_Vehicle_Create_Post input::placeholder {
    color: #999; /* Placeholder text color */
}

.shero1 span.invalid {
    color: #ff0000;
    font-size: 14px;
    transition: all 0.3s ease; /* Animation transition */
}
