

.column12{
    float: left;
    width: 20%;
    padding: 10px;
    height: 300px;
    background-color: rgb(255, 254, 254);
    height: 0%;
    display: flex;
}
 





/* .sidebar-post hr{
    border: 1;
    height: 2px;
    width: 100px;
    background: #ccc;
    margin: 15px 0 10px;
}
.sidebar-post{
    width: 20%;
    height: 2000px;
    float: left;
    top: 0;
    left: 0;
    padding: 1px 15px;
    background: #fff;
    
} */

.poost1{
    display: grid;
    grid-template-columns: (3, 1fr);
    width: 250px;
    height:200px;
    border-radius: 4%;
}



#product-seller-container{
    margin-left: 100px;
    grid-template-columns: (3, 1fr);
    width: auto;  
   
}

#product-seller{
    width: 280px;
   
}

ul{
    list-style: none;
    padding: 0 15px;
}


 


.productt{
    /* width: 23%; */
    width: fit-content;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    background-color: white;
    position: relative;
    align-items: center;
    
}
.button-n{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 30px; */
    /* width: 50px; */
    cursor: pointer;
}

#namee1{
    /* top:100px; */
    margin-left: 15px;
    color: rgb(58, 237, 70);
    display: flex;
}
.name{
    margin-top: 40px;
    display: flex;
}

#price1{
    margin-left: auto;
    color: rgb(238, 0, 255);
    display: flex;
}



.button-n .btn2{
    background-color: aquamarine;
}


#btnv3{
    color: rgb(27, 24, 24);
    border-radius: 10px;
    background-color: rgb(202, 36, 36);
   
   
}



/* Modal container */
.container .modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal content */
.container .modal-content1 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    text-align: center;
}

/* Close button */
.container .modal-content1 button {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

/* Style for "OK" button */
.container #modal-ok-btn {
    background-color: #4CAF50;
    color: white;
}

/* Style for "Cancel" button */
.container #modal-cancel-btn {
    background-color: #f44336;
    color: white;
}

/* Close button on hover */
.modal-content1 button:hover {
    background-color: #555;
    color: white;
}




















