/* .profileNavBar .header{
    background-color: white;
    color: var(--dark-green);
    height: 100px;
    padding: 20px 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.02);
    position: fixed;
    z-index: 20;
    
} */


.header {
    background-color: white;
    color: var(--dark-green);
    height: 100px; /* Set the height to the desired value */
    width: 100%; /* Ensure the header spans the entire width */
    padding: 20px 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.02);
    position: fixed;
    top: 0;
    z-index: 20;
    margin-bottom: -20px; /* Adjust this value to create space below the header */
}

/* Add bottom margin using ::after pseudo-element */
.header::after {
    content: '';
    display: block;
    height: 100px; /* Adjust this value to set the bottom margin height */
}



.profileNavBar .header {
    background-color: white;
    color: var(--dark-green);
    height: 100px; /* Set the height to the desired value */
    width: 100%; /* Ensure the header spans the entire width */
    padding: 20px 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.02);
  
    margin-bottom: 1000px;
    z-index: 20;
      position: fixed;
    /* top: 0;  */
    /* Fix the header to the top of the viewport */
}


.profileNavBar .header .flex{
    display: flex;
    justify-content: space-between;
}

.profileNavBar .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profileNavBar .greeting:hover{
    cursor: pointer;
    color: var(--dark-green)
}


.profileNavBar .navbar ul{
    display: flex; 
    list-style-type: none;
}

.profileNavBar .navbar li{
    padding: 0 20px;
    position: relative;
    color: #333;
}

.profileNavBar .navbar li a{
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
    text-decoration: none;
    color: var(--dark-green);
}

.profileNavBar .navbar li a:hover,
.profileNavBar .navbar li a.active{
    color: var(--dark-green);
}

.profileNavBar .navbar li a.active::after{
    content: "";
    width: 50%;
    height: 2px;
    background: var(--dark-green);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.profileNavBar .nav-parts a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease;
    text-decoration: none;
    color: var(--dark-green);
    position: relative;
}
/* starts here */

/* .sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link span{ 
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{

    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
} */

