.log_nav{
    width: 100%;
    height: 12%;
    z-index: 9999;
    left: 0px;
    top: 0px;
    position: fixed;
    background-color: #03002E;
    color: var(--dark-green);
        position: fixed;
    margin-bottom: 5000px;
    z-index: 20;
    top: 0; 
}
.navvvvvv{
    margin-bottom: 125px;
}
.log .flex{
    display: flex;
    justify-content: space-between;
}

.system-nav-main{
    height: 80%;
    width: 95%;
    padding: 8px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}


.nav-parts{
    display: flex;
    flex: 1;
    text-align: center;
    padding: 40px 0;
    /* line-height: 100%; */
    /* transform: translate(-50%, -50%); */
    color: white;
    text-decoration: none;
}

.nav-parts a{
    text-decoration: none; /* Remove underline from links */
    margin-right: 20px;
}

.profile-menu-wrap.open-menu{
    max-height: 400px;
    
    
   
}
.sub-link-menu h2 i {
    margin-right: 50px; /* Adjust the margin between the icon and text */
}

.menu-text {
    margin-left: 50px; /* Adjust the margin between the icon and text */
}


 .user-menu{
    background: #99ed9e;
    padding: 10px;
    margin: 10px;
    margin-top: 125px;
    position: absolute; 
    top: -3640%; 
    right: -10%;
   width: 300px;
   border-radius: 5%;
   
   max-height: 400px;
   /* overflow: hidden; */
   transition: max-height 0.5s;
   overflow-y: auto; /* Enable vertical scroll if content exceeds max-height */
   transition: max-height 0.5s, opacity 0.5s; /* Include opacity transition for smoother animation */
   z-index: 999; /* Ensure menu appears above other elements */

 }

.sub-link-menu:hover span{
    transform: translateX(5px);
}

.sub-link-menu:hover h2{
    font-weight: 600;
}
