.order-container {
            border: 1px solid #ccc;
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 5px;
            margin-right: 10px;
            height: fit-content;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

/* .order-container img{
    width: 100%;
} */
        .order-id {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .items-title {
            font-size: 16px;
            margin-bottom: 5px;
        }
        .item-list {
            list-style-type: disc;
            margin-left: 20px;
            margin-top: 0;
            padding-left: 0;

        }

        .item-list li {
            line-height: 1.5; /* Adjust the line-height value as needed */
        }
        .status {
            font-size: 14px;
            margin-top: 10px;
            color: black;
            align-items: left;
        }

        #orders-table{
                margin: 15px;
                padding: 10px;
        }

        .completeButton{
                text-align: right;
                margin-right: 30px;
        }


/* rating css */
/* Star rating styles */
/* .rating {
    display: inline-block;
    unicode-bidi: bidi-override;
    direction: rtl;
     text-align: center;
} */
/* .rating > span {
    display: inline-block;
    position: relative;
    width: 1.7em;
  }

.rating input {
    display:none;
} */



/* 
.rating > span:hover::before,
.rating input:checked ~ label::after,
.rating label:hover::before,
.rating label:hover ~ label::before {
    color: #ffcc00; 
}

 .rating > input:checked ~ span::before {
    content: "\2605";
    position: absolute;
    color: gold;
  } */

/* .rating > span:hover:before,
  .rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: gold;
  } */

        /* .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
  }

  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }

  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: gold;
  }

  rating > input {
    display: none;
  }

  .rating > input:checked ~ span:before {
    content: "\2605";
    position: absolute;
    color: gold;
  } */

  .text-top-right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom-left-radius: 5px;
}

.rating label {
    font-size: 18px;
    cursor: pointer;
}
.rating label:before {
    /* content: "\2605";  */
    margin-left: 5px; 
    /* color: #ccc; */
   
}

.rating-container {
    text-align: center;
    margin-top: 50px;
}

.rating {
    font-size: 15px;
}

.number-label {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1px;
    position: relative; */

     display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.number {
    cursor: pointer;
    /* color: black; */
}

.number {
    cursor: pointer;
    color: lightslategray;
    border: 2px solid lightgray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 14px;
    color: #999;
}

.number:hover,
.number.active {
    color: orange;
}

.number.active {
    background-color: orange;
    color: white;
}
