.section-p1 {
    background-color: white; 
    margin: 25px auto 0 auto;
    border:5px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0,  .2);
    color: #333;
    border-radius: 10px;
    padding: 30px 40px;
}

.section-p1 h2{
    color: var(--dark-grey);
    
  

}

.section-p2 {
    background-color: white; 
    margin: 25px auto 0 auto;
    border:5px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0,  .2);
    color: #333;
    border-radius: 10px;
    padding: 30px 40px;
}

.section-p3 {
    background-color: white; 
    margin: 25px auto 0 auto;
    border:5px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0,  .2);
    color: #333;
    border-radius: 10px;
    padding: 30px 40px;
}

.section-p4 {
    background-color: white; 
    margin: 25px auto 0 auto;
    border:5px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0,  .2);
    color: #333;
    border-radius: 10px;
    padding: 30px 40px;
}


#productDetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

#productDetails {
    display: flex;
    margin-top: 20px;
}

input[type="radio"]{
    width: 2px;
    height: 2px;
    margin: 10px;
    font: 1em sans-serif;
    background-color: var(--dark-green) !important;
}

input:checked ~ :after{
    background-color: var(--dark-green);
}

#productDetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#productDetails .single-pro-details h4{
    padding: 1px 0 1px 0;
}

#productDetails .single-pro-details h2{
    font-size: 26px;
    margin: 2px 0;
}

#productDetails .single-pro-details h3{
    padding: 1px 0 ;
}

#productDetails .single-pro-details span{
    font-size: 12px;
    margin-left: 8px;
    padding-top: 5px;
}

#productDetails .single-pro-details .rating{
    margin-bottom: 0;
}

#productDetails .single-pro-details .rating i{
    font-size: 12px;
    color: rgb(246, 181, 25);
    margin: 0;
    padding: 0;
}

#productDetails .single-pro-details .price-tag{
    padding: 10px 0;
}

#productDetails .single-pro-details .price-tag h3{
    margin-bottom: 5px;
    color: var(--dark-green);
    font-weight: bolder;
}

#productDetails .single-pro-details input{
    width: 100px;
    height: 28px;
    padding-left: 5px;
    font-size: 16px;
    margin-left: 8px;
}
#buynow_cart {
        float: right;
    width: 40%;

}

#productDetails .single-pro-details input:focus{
    outline: none;
}

#productDetails .single-pro-details .flex-seller-name{
    display: contents;
    align-items: center;
}

#productDetails .single-pro-details input[type="radio"]{
    width: 16px;
    height: 16px;
    margin: 10px;
    font: 1em sans-serif;
    color: var(--dark-green);
}

#productDetails .single-pro-details input:checked::after{
    content: "";
    background-color: var(--dark-green);
    color: var(--dark-green);
}

#productDetails .single-pro-details .button-area{
    display: ruby-base;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex-wrap: wrap;
}

button{
    background-color: var(--dark-green);
    color: white;
    font-size: 0.875rem;
    padding: 10px 34px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    /* min-width: 200px; */
    /* max-width: 200px; */
}

button:hover {
    background-color: var(--light-green);
}

button i{
    padding-right: 5px;
}

.custom-list {
    list-style-type: disc; 
    color: var(--dark-grey);
    font-size: 16px;
}

.custom-list li {
    margin: 5px 0; 
}

.custom-list2 {
    list-style-type: disc; 
    color: var(--dark-grey);
    font-size: 18px;    
}

.custom-list2 li{
    margin-left: 20px;
}




#productDetails .single-pro-details span{
    line-height: 25px;
}

.container {
    max-width: 80%;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Style the rating section */
.rating {
    margin-bottom: 20px;
}

/* Style the overall rating */
.rating-title {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style stars */
.stars {
    font-size: 24px;
    color: #FFD700; /* Golden color for stars */
}

.star {
    display: inline-block;
    margin-right: 4px;
}

/* Style rating bars */
.rating-bar {
    margin-top: 10px;
    display: flex;
    align-items: left;
}

.bar {
    flex: 1;
    height: 15px;
    background-color: #ccc;
    position: relative;
}

.bar-fill {
    height: 100%;
    width: 0;
    background-color: #FFD700; /* Green color for filled bars */
}

.bar-label {
    margin-left: 10px;
    font-size: 14px;
}

/* Style the Question section */
.question-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

/* Style the question icon */
.question i,
.answer i {
    color: var(--dark-green); /* Customize the color as needed */
    font-size: 24px;
    margin-right: 10px;
    vertical-align: middle; /* Align the icon vertically with the text */
    display: inline-block; /* Make both icon and label inline-block */
}

/* Style the question and answer labels */
.question h3,
.answer p {
    display: inline-block; /* Make both icon and label inline-block */
    vertical-align: middle; /* Align the text vertically with the icon */
    font-size: 18px;
    margin: 0;
    line-height: 2.5
}

.pagination {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 15px;
}

.page-number {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: var(--dark-green);
    color: white;
    cursor: pointer;
}

.page-number:hover {
    background-color: var(--light-green);
}


/* <<<<<<< imalka
select{
    border:none;
    padding: 10px 20px;
    border-radius:5px;
  }
  
  select:focus{
    outline:none;
  }
  
  
=======

/* Inquiry Section */

.comment-card {
    position: relative;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.comment-card i{
    font-size: 0.75rem;
    opacity: 0.6;
}

.btn{
    border-color: darkgreen;
    color: white;
    background-color: rgb(7, 147, 7);
    /* display: flex;
    justify-content: right;
    align-items: flex-end; */
}

.btn:hover{
    color: white;
    background-color: rgb(19, 198, 19);
}

.btn-cancel{
    position: absolute;
    bottom: 20px;
    right: 21px;
    background-color: #F8F9FA;
    color: darkgreen;
    border: solid 1px darkgreen;
}

.btn-save{
    position: absolute;
    bottom: 20px;
    right: 140px;
    border: solid 1px darkgreen;
}

.btn-comment{
    
}

.delete-form input[type="submit"]{
    position: absolute ;
    top: 20px;
    right: 25px;
    width:60px;
    height: 20px;
    border: none;
    color: darkgreen;
    background-color: white;
    font-size: 1.0rem;
}

.delete-form input[type="submit"]:hover{
    color: rgb(7, 147, 7);
    cursor: pointer;
}

.comment-edit-btn{
    position: absolute;
    top: 7px;
    right: 90px;
    width:40px;
    height: 20px;
    border: none;
    color: darkgreen;
    background-color: white;
    font-size: 1.0rem;
}

.comment-edit-btn:hover{
    color: rgb(7, 147, 7);
    background-color: white;
    cursor: pointer;
}






.container_v_productDetails .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.container_v_productDetails .modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 50%;
    height: 20%;
    text-align: center;
}

.container_v_productDetails  #modal-ok-btn {
    margin: 30px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #df0e0e;
}


#buynow_cart .deliverymethod{
    display: flex;
}

.container_v_productDetails {
    display: flex;
    justify-content:safe;
    margin-top: 100px;
}

.container_v_productDetails .column_01, .column_02 {
    width: 75%; /* Adjust the width as needed, ensuring both fit in the container */
    /* More styling here */
}

/* Responsive layout adjustment */
@media (max-width: 768px) {
    .container_v_productDetails {
        flex-direction: column;
    }

    .container_v_productDetails .column_01, .column_02 {
        width: 100%;
    }
}

#buynow_cart .single-pro-details{
    width: 80%;
    padding-top: 30px;
    margin: auto;
}

#buynow_cart .column_02{
    display: fixed;
}








#section-p9 #productDetails .single-pro-details .button-area {
  display: ruby-base;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin-left: -12%;
}

#section-p9 .single-pro-details{
    margin: auto;
}




.section-p9 {
  background-color: white;
  border: 5px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #333;
  border-radius: 10px;
  padding: 30px 40px;
  margin: 25px auto 0 auto;
  margin-top: 25px;
  margin-right: 10%;
  margin-bottom: 0px;
  margin-left: 0px;
}

#section-p9 {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 125px; /* Adjust as needed */
}

@media (max-width: 768px) {
  #section-p9 {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
    width: 90%; /* Adjust as needed */
    left: 5%; /* Adjust as needed */
    right: 5%; /* Adjust as needed */
  }
}



/* The Modal */
.modalcart_buynow {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalcart_buynow .modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: fit-content;
}

/* Close Button */
.modalcart_buynow.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}