/* *{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
} */
.Wrapper_Vehicle_Create_Post{
    /* width: 100%; */
    min-height: 100vh;
    margin-left: 25%;
    margin-top: 15px;
    background-color: #c3ffc463;
   
}

.Wrapper_Vehicle_Create_Post .sdropdown1{
    width: 95%;
    margin-top: 15px;
    margin-left: 2%;
    margin-right: 2%;
}
.Wrapper_Vehicle_Create_Post .sitem{
    width: 95%;
    margin-top: 15px;
    margin-left: 2%;
    margin-right: 2%;
}
.Wrapper_Vehicle_Create_Post .sstock_size{
    width: 98%;
    margin-top: 15px;
    margin-left: 2%;
    display: flex;

}
.Wrapper_Vehicle_Create_Post .stocksize #Stock{
    width:95%;
    height: 40px;
    /* margin-left: 2%; */
    border-radius: 5px;
    color: rgb(7, 7, 7);
    background-color: aliceblue;
    /* display: flex; */
}
.Wrapper_Vehicle_Create_Post .sstock_size .sdropdown2{
    margin-left: 2%;
    width: 50%;
}
.Wrapper_Vehicle_Create_Post .sstock_size .iii{
   
    width: 50%;
}
.Wrapper_Vehicle_Create_Post .stocksize{
    width: 100%;
    margin-left: 2%;
    }



.Wrapper_Vehicle_Create_Post .sDescription{
    /* margin-left: 150px; */
    width: 300px;
}

.Wrapper_Vehicle_Create_Post .sdate{
    margin-left: 2%;
    width: 100%;
}


.Wrapper_Vehicle_Create_Post #sdes{
    width:97%;
    height: 120px;
    border-radius: 5px;
    /* display: flex; */
    color: rgb(5, 5, 5);
    background-color: aliceblue;

}
.Wrapper_Vehicle_Create_Post #stype{
    width: 95%;
    height: 40px;
    border-radius: 5px;
    color: rgb(2, 3, 2);
    /* margin-left: 200px; */
    position: relative;
}

.Wrapper_Vehicle_Create_Post #size{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    /* display: flex; */
    color: rgb(5, 5, 5);
    background-color: aliceblue;

}
.Wrapper_Vehicle_Create_Post .sCategory{
    margin-left: 2%;
    margin-right: 2%;

}
.Wrapper_Vehicle_Create_Post #sCategory{

    width:95%;
    height: 40px;
    border-radius: 5px;
    color: rgb(2, 3, 2);
    /* margin-left: 200px; */
    position: relative;
}
.Wrapper_Vehicle_Create_Post #sitem_name{
    
    width:100%;
    height: 40px;
    border-radius: 5px;
    color: rgb(7, 7, 7);
    background-color: aliceblue;
    /* margin-left: 5px; */
}

.Wrapper_Vehicle_Create_Post .sprice{
    width: 95%;
    margin-top: 15px;
    margin-left: 2%;
    margin-right: 2%;
}
.Wrapper_Vehicle_Create_Post #sprice{
    width:100%;
    height: 40px;
    border-radius: 5px;
    color: rgb(7, 7, 7);
    background-color: aliceblue;

}
.Wrapper_Vehicle_Create_Post .s1{
width: 300px;
}



.Wrapper_Vehicle_Create_Post .ddd{
    /* background-color: rgb(228, 255, 235); */
    /* background-color: rgb(102 255 141 / 56%); */
    width: 80%;
    margin: auto;

    border: 5px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #333;
    border-radius: 10px;
    background-color: #cbffce8f;




}



.Wrapper_Vehicle_Create_Post #se_date{
    width: 95%;
    height: 40px;
    border-radius: 5px;
    color: rgb(8, 9, 8);
    background-color: aliceblue;
}
.Wrapper_Vehicle_Create_Post .saddress{
    margin-top: 15px;
    width: 98%;
    margin-left: 2%;
}
.Wrapper_Vehicle_Create_Post #sAddress{
    width: 97%;
    height: 40px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    margin-bottom: 1%;
    background-color: aliceblue;
}



.Wrapper_Vehicle_Create_Post .sDescription{
    margin-left: 2%;
    width: 98%;
    
}
/* #sdes{
    width:60%;
    height:100px;
    border-radius: 5px;
} */


.Wrapper_Vehicle_Create_Post #inside_image{
    /* margin-top: 15px; */
    border: 1px dashed #999;
    border-radius: 6px;
    height: 200px;
    width: 300px;
    
}
.Wrapper_Vehicle_Create_Post #create{
    
    margin-left: 10%;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: rgba(255, 10, 10, 0.85);
    font-size: larger;
    cursor: pointer;
    
}
.Wrapper_Vehicle_Create_Post .imgdelivery{
    margin-left: 2%;
    width: 98%;
    display: flex;
}
.Wrapper_Vehicle_Create_Post .imgdelivery .image{
    /* margin-left: 150px; */
    width: 45%;
}
.Wrapper_Vehicle_Create_Post .imgdelivery .dropdown3{
    /* margin-left: 150px; */
    width: 50%;
}



